.fly-wrapper {
  animation: none;
}

.group:hover .fly-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}
